<div class="col-xs-6">
  <label class="i-checks" style="padding-left: 20px">
    <input id="chk-allComplete" type="checkbox" (click)="this.clickAll.emit($event.target.checked)"><i></i><span>Mark all as complete</span>
  </label>
</div>
<div class="col-xs-6 text-right">
  <button id="btn-removeCompletedTodos" class="btn btn-default btn-xs" (click)="removeCom.emit()">
    Clear completed (<span id="completedTodos">{{ getC }}</span>)
  </button>
  <strong id="activeTodos">{{ leftC }}</strong> items left
</div>